<div class="text-center">
    <h2>Name: {{groupName}}</h2>
    <h3>Description: {{groupDescription}}</h3>
    <h3>Total duration: {{totalDuration}}</h3>
    <h4>Movies:</h4>
    {{#each movies}}
        {{> movieItem}} {{!-- The '> group' says that this variable is to be interpreted as a .hbs view --}}
        <hr>
    {{/each}}
</div>