<div class="text-center">
    <h2>Welcome</h2>
    <p>Welcome to Chelas Movie Database. Manage your groups of movies and consult the groups of other users</p>

    <style>
        hr:after {
            background: #c7c7c7;
            content: 'ยง';
            padding: 0 4px;
            position: relative;
            top: -12px;
        }

    </style>
    <hr style="border: groove; height: 1px; background-color: #333;"></hr>

    <p><i>And now this message is for my fellow and younger travelers of the dawn of a more current course of ISEL</i></p>
    <p><i>Fear not, as you will be shrouded upon my wisdom from these fine artifacts and luminary lines of code</i></p>
    <p><i>Behold as the code, comments and documentation found in these parchments aren't meant to be esoteric</i></p>
    <p><i>This is not one of my finest crafting, since I was in a battle with finishing the Battleships game in DAW alone while alone in the darkness</i></p>
    <p><i>Nonetheless, I hope you become more savant upon inspecting these ancient scriptures. Farewell!</i></p>
    <img class="img-fluid" src="my-fellow-travelers.jpg"> {{!-- This will work because of the line app.use(express.static('./web/site/public')) in cmdb-server --}}
</div>