<div class="text-center">
    <h2>Welcome</h2>
    <p>Welcome to Chelas Movie Database. Manage your groups of movies and consult the groups of other users</p>
    <p>But for now, here's a beautiful image to look at:</p>
    <img class="img-fluid" src="https://img3.goodfon.com/wallpaper/nbig/4/58/logo-wallpaper-sport-football-sl-benfica.jpg">
</div>