{{!-- Every render uses this base/master page for having the name 'layout.hbs' https://stackoverflow.com/q/26871522/9375488 --}}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">

    {{!-- OPTION1: Get css from web https://getbootstrap.com/docs/4.3/getting-started/download/#jsdelivr--}}
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script> --}}
    {{!-- OPTION2: Get css from public/ --}}
    <link href="/bootstrap.min.css" rel="stylesheet"> {{!-- Must have '/' or it wont work in sub routes like '/groups/aaaaa' This href works out because of the setting of the static files folder location w/ 'express.static()' https://stackoverflow.com/a/62150381/9375488 --}}

    <title>{{title}}</title>
    </head>

    <body>
        {{!-- https://getbootstrap.com/docs/4.0/components/navbar/ --}}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav" id="navBarUnorderedList">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>  
                </ul>

                <ul class="navbar-nav ml-auto"> {{!-- https://stackoverflow.com/a/20362024/9375488 --}}
                    <li class="nav-item ml-auto">
                        <a class="nav-link float-right" id="loginLink" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </nav>

        {{{body}}} {{!-- https://handlebarsjs.com/guide/expressions.html#html-escaping https://stackoverflow.com/a/30012816/9375488 --}}
        
    </body>
    <script>
        function getCookie(cname) { //https://www.w3schools.com/js/js_cookies.asp#:~:text=path%3D/%22%3B%0A%7D-,function%20getCookie(cname),-%7B%0A%C2%A0%C2%A0let
            let name = cname + "="
            let ca = document.cookie.split(';');
            for(let i = 0; i < ca.length; i++) {
                let c = ca[i]
                while (c.charAt(0) == ' ') {
                c = c.substring(1)
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length)
                }
            }
            return ""
        }

        function addNewNavItem(name, link){
            const newNavBarItem = document.createElement("li")
            newNavBarItem.className = "nav-item"

            const anchor = document.createElement("a")
            anchor.className = "nav-link"
            anchor.href = link
            anchor.innerHTML = name
            
            newNavBarItem.append(anchor)
            
            document.getElementById("navBarUnorderedList").appendChild(newNavBarItem)
        }

        window.addEventListener("load", ()=>{
            const isUserLoggedIn = getCookie("token") //todoooooooooo this is bad/cheap design
            console.log(isUserLoggedIn)
            if(isUserLoggedIn!=""){
                addNewNavItem("My Groups", "/mygroups")
                addNewNavItem("Search for movies", "/search")
                addNewNavItem("Top movies", "/top")

                const logOut = document.getElementById("loginLink")
                logOut.innerHTML="Logout"
                logOut.href="/"
                logOut.onclick = () => {
                    setTimeout(() => { 
                        logOut.innerHTML="Login"
                        logOut.href="/login"
                        logOut.onclick = null
                    }, 500) //becuse otherwise it will instantly goes to /login...

                    while(document.cookie!=''){  //clear all cookies
                        document.cookie = document.cookie + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;'
                    }
                    //clear cookies manually demonstration:
                    //document.cookie = "token" + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;'//https://stackoverflow.com/a/10593045/9375488
                    //document.cookie = "userName"...
                }
            }
        })

    </script>
</html>
