<div class="text-center">
    <h1>Groups of user {{userName}}</h1>
    {{#each groups}}
        {{> groupItem}} {{!-- The '> group' says that this variable is to be interpreted as a .hbs view --}}
        <hr>
    {{/each}}
    <button onclick="location.href='{{host}}/creategroup'">Create a group</button>
</div>