<div class="row justify-content-md-center">
    <form method="POST" action="{{host}}{{registerRoute}}">
        <label>Username</label>
        <input type="text" name="name" required></input>
        </br>
        <label>Password</label>
        <input type="password" name="password" required></input>
        </br>
        <label>IMDB Api Key</label>
        <input type="text" name="api_key" required></input>
        </br>
        <button type="submit">Register</button>
    </form>
</div>